# Operações Básicas SQL

Para nossa atividade inicial de SQL trabalharemos com uma base de vendas.
Abaixo temos o ambiente de preparo para trabalharmos com o SQL lite.

In [1]:
import sqlite3 #Importando a biblioteca necessária
import pandas as pd

In [2]:
df_vendas = pd.read_csv("/content/TB_VENDAS_TAREFA .csv", delimiter=';')

In [3]:
conn = sqlite3.connect(':memory:')
df_vendas.to_sql('tb_vendas', conn, index=False, if_exists='replace')

24

In [4]:
def run_query(query):
    return pd.read_sql_query(query, conn)

In [5]:
query = """
select *
from tb_vendas

"""
result_df = run_query(query)
print(result_df)

    ID_COMPRA  ID_CLIENTE   PRODUTO VALOR_UNID  UNIDADES
0        1247        9081  CAMISETA       34,5         2
1        1248        9081     CALCA       89,9         1
2        1250        9560  CAMISETA       34,5         1
3        1249        9630   BERMUDA       79,5         2
4        1251        9425  CAMISETA       34,5         3
5        1252        9425   VESTIDO        102         1
6        1253        9481     CALCA       89,9         2
7        1254        9785      MEIA       25,9         1
8        1255        9786     CALCA       89,9         2
9        1256        9787   VESTIDO        102         1
10       1257        9788     CALCA       89,9         2
11       1258        9789  CAMISETA       34,5         3
12       1259        9790  CAMISETA       34,5         1
13       1260        9791   BERMUDA       79,5         2
14       1261        9792  CAMISETA       34,5         2
15       1262        9793     CALCA       89,9         2
16       1263        9794     CALCA       89,9         1
17       1264        9795   BERMUDA       79,5         2
18       1265        9796  CAMISETA       34,5         4
19       1266        9797  CAMISETA       34,5         1
20       1267        9798   VESTIDO        102         2
21       1268        9799      MEIA       25,9         3
22       1269        9800  CAMISETA       34,5         2
23       1270        9801     CALCA       89,9         1

# 1) Faça uma consulta que retorne os nomes dos produtos distintos que temos na base de venda.

In [6]:
query = """
select
distinct produto
from tb_vendas

"""
result_df = run_query(query)
print(result_df)

    PRODUTO
0  CAMISETA
1     CALCA
2   BERMUDA
3   VESTIDO
4      MEIA

# 2) Faça uma consulta que retorne a contagem dos clientes distintos que temos na nossa base, não esqueça de renomear sua coluna.

Dica: Você pode usar o distinct dentro do count()

In [7]:
query = """
select
count(distinct ID_CLIENTE) as contagem_clientes
from tb_vendas

"""
result_df = run_query(query)
print(result_df)

   contagem_clientes
0                 22

# 3) Faça uma consulta que retorne uma coluna com os produtos distintos e o valor_unid de cada produto. Porém apenas para produtos onde o valor_unid é maior ou igual a 50 reais.

In [8]:
query = """
select
distinct produto, VALOR_UNID
from tb_vendas
where valor_unid >= 50

"""
result_df = run_query(query)
print(result_df)

   PRODUTO VALOR_UNID
0    CALCA       89,9
1  BERMUDA       79,5

# [DESAFIO] 4) Faça uma consulta que retorne o ID das compras e o valor total gasto nessa compra (Valor_unidade X Unidades) das 5 compras com mais valor total gasto.

In [9]:
query = """
select
ID_COMPRA, VALOR_UNID * UNIDADES as valor_total
from tb_vendas
order by valor_total desc
Limit 5

"""
result_df = run_query(query)
print(result_df)

   ID_COMPRA  valor_total
0       1267          204
1       1253          178
2       1255          178
3       1257          178
4       1262          178

# 5) Faça uma consulta que retorne os produtos e a média do preço da unidade dos produtos, ordenando do maior para o menor.

In [10]:
query = """
select produto, avg(VALOR_UNID) as media_preco
from tb_vendas
group by produto
order by media_preco desc

"""
result_df = run_query(query)
print(result_df)

    PRODUTO  media_preco
0   VESTIDO        102.0
1     CALCA         89.0
2   BERMUDA         79.0
3  CAMISETA         34.0
4      MEIA         25.0

# 6) Faça uma consulta que retorne o id dos 3 clientes da base de vendas que mais relalizaram compras e a quantidade de compras realizadas.

In [11]:
query = """
select ID_CLIENTE, count(ID_COMPRA) as quantidade_compras
from tb_vendas
group by ID_CLIENTE
order by quantidade_compras desc
limit 3
"""

result_df = run_query(query)
print(result_df)

   ID_CLIENTE  quantidade_compras
0        9425                   2
1        9081                   2
2        9801                   1